@import '../colors.scss';
@import '../fonts.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: {
    color: transparent;
  }
;
}

body {
  margin: 0;
  background: {
    color: transparent;
    //color: rgba(0, 0, 0, 0.9);
    //color: #ffffff;
    attachment: fixed;
  }
;
  font: {
    family: 'SF Pro Display', '.萍方-简';
  }
  font-weight: 300;;
  width: 100%;
  height: 100%;
  //color: black;
  color: $white;
  min-width: 500px;
  overflow: hidden;
}

a, p, span, button {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  outline: none;
}

nav {
  width: 100%;
  height: 75px;
  background-color: $dark;
  color: $white;
}

nav.nav-top {
  height: auto;
  border-bottom: {
    style: solid;
    color: $white;
    width: 1px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row.flex-start {
  justify-content: flex-start;
}

nav.nav-top div.nav-top-contain {
  height: 100%;
  font-size: 2.2em;
}

nav.nav-top div.nav-top-contain p.title {
  text-align: center;
  padding: 10px;
}

nav.nav-bottom {
  //position: fixed;
  //bottom: 0px;
  border-top: {
    style: solid;
    color: $white;
    width: 1px;
  }
;

}

nav.nav-bottom div.nav-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav.nav-bottom div.nav-contain .nav-item {
  display: block;
  min-width: 100px;
  width: 100px;
  text-align: center;
  padding: 10px;
  color: $white;
  text-decoration: none;
  cursor: default;
  user-select: none;
  pointer-events: none;
  background: transparent;
  -webkit-transition: 200ms, easy-out;
}

nav.nav-bottom div.nav-contain .nav-item:hover {
  color: $blue;
}

nav.nav-bottom div.nav-contain .nav-item.active {
  color: $blue;
}

nav.nav-bottom div.nav-contain .nav-item div.nav-item-contain {
  cursor: pointer;
  pointer-events: all;
}

nav.nav-bottom div.nav-contain .nav-item.active div.nav-item-contain {
  cursor: default;
}

nav.nav-bottom div.nav-contain .nav-item p {
  margin: 0 auto;
}

nav.nav-bottom div.nav-contain .nav-item p.nav-icon {
  font-size: 2.2em;
}

div.contain {
  width: 100%;
  background: transparent;
  overflow-x: hidden;
  overflow-y: visible;
}

div.contain div.contain-item {
  display: none;
}

div.contain div.contain-item.active {
  display: block;
}

div.contain div.owl-carousel.slide-content {
  height: 100%;
}

div.contain div.slide {
  width: 100%;
}

div.contain div.slide div.owl-carousel .slide-item {
  display: block;
  width: 100%;
}

div.contain div.slide div.owl-carousel .slide-item img {
  display: block;
  width: 100%;
  height: 100%;
}

div.contain div.contain-kind {
  position: relative;
  padding-top: 10px;
}

div.contain div.contain-kind .title {
  font-size: 1.8em;
  margin: 10px;
}

div.contain div.contain-kind .title p {
  margin-left: 5%;
}

div.contain div.contain-kind .kind-contain {
  padding: 10px 0 10px 0;
  //border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}

div.contain div.contain-kind div.owl-carousel .kind-item {
  user-select: none;
  //margin: 0 auto;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 200ms easy-out;
  color: $white;
}

div.contain div.contain-kind div.owl-carousel .kind-item:hover {
  color: $blue;
}

div.contain div.contain-kind div.owl-carousel .kind-item img {
  border-radius: $logo-radius;
}

div.contain div.contain-kind div.owl-carousel .kind-item p {
  margin-top: 5px;
}

div.contain div.contain-kind div.owl-carousel .kind-item .item-info {
  //width: 100%;
  font-weight: $font-tine;
}

div.contain div.contain-kind div.owl-carousel .kind-item .item-info .app-name {
  color: $white;
}

div.contain div.contain-kind div.owl-carousel .kind-item .item-info .app-kind, .item-info .app-price {
  color: $white-dark;
}

.logo {
  user-select: none;
}

.logo img {
  border-radius: $logo-radius;
}

.logo.padding img {
  margin: 22%;
}

.logo.small img {
  border-radius: $logo-radius;
  height: 75px;
}

.logo.middle img {
  border-radius: $logo-radius;
  height: 125px;
}

.kind-divide {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  border-bottom: solid 1px $white-dark;
  //z-index: -100;
}

.contain .category-kind {
  border-top: solid 1px $white-dark;
}

.contain .category-kind .kind-name {
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: $white-dim;
  background-color: transparent;
  font-size: 1.2em;
}

.contain .category-kind .kind-items {
  border-top: solid 1px $white-dark;
  border-bottom: solid 1px $white-dark;
}

.contain .category-kind .kind-items .kind-item {
  position: relative;
}

.contain .category-kind .kind-items .kind-item .item-contain {
  position: relative;
  padding-left: 5%;
}

.contain .category-kind .kind-items .kind-item img {
  margin: 15px;
}

.contain .category-kind .kind-items .kind-item p {
  font-size: 2em;
}

.contain .rank-kind .kind-item {
  position: relative;
}

.contain .rank-kind .number {
  font-size: 3em;
  padding-left: 5%;
  padding-right: 5%;
}

.contain .rank-kind .app-info {
  padding-left: 5%;
  padding-right: 5%;
}

.contain .rank-kind .app-info p {
  margin-top: 7px;
}

.contain .rank-kind .app-info .app-name {
  font-size: 1.5em;
}

.contain .rank-kind .app-info .app-kind {
  font-size: 1.2em;
  color: $white-dim;
}

.contain .rank-kind .app-info .app-level {
  font-size: 1.5em;
  color: $orange;
}





